---
---
@charset "UTF-8";

@import "settings.material-palette";

@import "variables";
@import "mixins";
@import "animations";

@import "base";
@import "page";
@import "typography";
@import "media";
@import "sidebar";
@import "components";

@import "site-header";
@import "site-footer";
@import "page-docs";
@import "page-title";
@import "page-section";
@import "contributor-stats";
@import "support-pricing";

@import "syntax";
@import "flag-icon";

// .debug {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 2000px;
// 	background-image: linear-gradient(0deg, transparent 0%, transparent 50%, transparentize(mistyrose, 0.5) 50%, transparentize(mistyrose, 0.5) 100%);
// 	background-size: 3rem 3rem;
// }
