---
title: "Commercial Support"
description: "Get free community support, or paid commercial and enterprise support plans."
---

{% include header.html %}
    <div class="page-title">
        <div class="inner-container">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="page-section--support-banner">
        <div class="inner-container">
            <div class="page-section__half">
                <p class="lead">Get support from the Event Store community in our Google Group, or purchase a developer-led support contract from only £1,295.</p>
            </div>
            <div class="page-section__half">
                <div class="support-intro-placeholder">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="inner-container">
        <div class="page-section">
            <h2>Support Options</h2>
            <div class="three-col">
                <div class="col">
                    <h3 class="col__title--community">Community</h3>
                    <p>Event Store has an active Google Group with new posts every day. This is the best place to share your questions and answers with the community.</p>
                    <p class="call-to-action"><a href="/community" class="btn btn--primary">Community Page</a></p>
                </div>
                <div class="col">
                    <h3 class="col__title--commercial">Commercial</h3>
                    <ul class="checkmark-list">
                        <li>Available weekdays 9am–5pm GMT</li>
                        <li>Next Business Day response</li>
                        <li>Additional tools to simplify cluster management and configuration</li>
                        <li>Developer-led support from the team that built Event Store</li>
                        <li>Incident tracking with Freshdesk</li>
                    </ul>
                    <p>
                        <span class="price">£1,295</span><br>
                        <span class="price-sub">per year per cluster</span>
                    </p>
                    <p class="call-to-action"><a href="/enquiries" class="btn btn--primary">Ask us about Commercial Support</a></p>
                </div>
                <div class="col">
                    <h3 class="col__title--enterprise">Enterprise</h3>
                    <ul class="checkmark-list">
                        <li><strong>Available 24&times;7</strong></li>
                        <li><strong>Up to two hour response time</strong></li>
                        <li>Additional tools to simplify cluster management and configuration</li>
                        <li>Developer-led support from the team that built Event Store</li>
                        <li>Fix Commitment</li>
                        <li>Incident tracking with Freshdesk</li>
                        <li>Named account manager</li>
                    </ul>
                    <p class="muted">To make an enquiry about enterprise support packages please get in touch so we can discuss your configuration and requirements.</p>
                    <p class="call-to-action"><a href="/enquiries" class="btn btn--primary">Ask us about Enterprise Support</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="inner-container">
        <div class="page-section--oem">
            <div class="page-section__half">
                <h2>Solutions for OEMs</h2>
                <p>OEM support and licensing is available to developers who wish to incorporate Event Store into their commercial products. Our team would be happy to discuss your project’s requirements.</p>
                <p class="call-to-action"><a href="/enquiries" class="btn">Ask us about OEM Solutions</a></p>
            </div>
        </div>
    </div>
    <div class="inner-container">
        <div class="page-section--appliances">
            <div class="three-col">
                <div class="col">
                    <h2>Appliances</h2>
                    <p class="left">Purpose built Event Store appliances are available in two models; Standard and Pro. Support costs are significantly reduced for appliance owners.</p>
                    <p class="left">If you are interested in buying Event Store appliances please get in touch so we can discuss your needs and how best to fulfill them.</p>
                    <p class="call-to-action"><a href="/enquiries" class="btn">Ask us about Appliances</a></p>
                </div>
                <div class="col">
                    <h3 class="col__title--commercial">Standard Appliance</h3>
                    <ul class="checkmark-list">
                        <li>1U half-depth chassis</li>
                        <li>Dual gigabit LAN</li>
                        <li>Intel Core i3-4130 3.4GHz (3MB cache)</li>
                        <li>Single CPU</li>
                        <li>240GB SSD<br>2TB 7200rpm HDD</li>
                        <li>32GB RAM</li>
                    </ul>
                    <p>
                        <span class="price">£1,995</span><br>
                        <span class="price-sub">+ £995/year per cluster support</span>
                    </p>
                </div>
                <div class="col">
                    <h3 class="col__title--enterprise">Pro Appliance</h3>
                    <ul class="checkmark-list">
                        <li><strong>1U full-depth chassis with rails</strong></li>
                        <li><strong>Quad gigabit LAN</strong></li>
                        <li><strong>Intel Xeon E5-2603 1.6GHz six core (15MB cache)</strong></li>
                        <li><strong>Dual CPU</strong></li>
                        <li><strong>80GB SSD<br>4&times; 2TB 7200rpm HDD</strong></li>
                        <li><strong>72GB RAM</strong></li>
                        <li>Hardware RAID with NAND-flash backup</li>
                    </ul>
                    <p>
                        <span class="price">£3,995</span><br>
                        <span class="price-sub">+ £995/year per cluster support</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% include footer.html %}
