---
title: "Homepage"
---
{% include header.html %}
<div class="page-header page-header--homepage">
    <div class="inner-container">
        <h1>Commercial</h1>
        <span class="c2a">
            <a href="/docs/introduction" class="btn btn--primary">Get started with Event Store</a>
            <a href="/support" class="btn btn--secondary">Get Support</a>
        </span>
    </div>
</div>
<div class="feature-section">
    <div class="inner-container">
        <ul class="feature-list">
            <li class="feature-list__item">
                <h2><img src="/images/support.png" alt="Support icon"> Support</h2>
                <p>We offer <a href="https://eventstore.org/support/">commercial and enterprise level</a> support plans tailored to suit your needs.</p>
            </li>
            <li class="feature-list__item">
                <h2><img src="/images/infrastructure.png" alt="Infrastructure icon"> Infrastructure scripts</h2>
                <p>If you are looking to host your Event Store cluster on AWS or Azure cloud hosting, we provide industry standard Packer and Terraform scripts to help your team get setup following our recommended best practices.</p>
            </li>
            <li class="feature-list__item">
                <h2><img src="/images/ha.svg" alt="High availability icon"> High Availability</h2>
                <p>When your Event Store application is under high demand, you can create a cluster of instances to spread load. With the commercial edition the cluster can also contain manager nodes that help your cluster run more efficiently and make it easier to use.</p>
            </li>
        </ul>
        <ul class="feature-list">
            <li class="feature-list__item">
                <h2><img src="/images/checks.png" alt="Database and backup checks icon"> Database and backup checks</h2>
                <p>The DbVerifier tool lets you verify that your database backups are complete and valid without needing to start a node to do so.</p>
            </li>
            <li class="feature-list__item">
                <h2><img src="/images/georeplica.png" alt="Georeplica icon"> GeoReplicas</h2>
                <p>For greater data security and redundancy, the GeoReplica plugin allows you to maintain a copy of your Event Store data in an external location.</p>
            </li>
            <li class="feature-list__item">
                <h2><img src="/images/console.png" alt="Console icon"> Node administration CLI</h2>
                <p>Members of your team dealing with development, deployment and operations will love our command line interface for administering nodes that allows them to run similar commands to the web admin interface.</p>
            </li>
        </ul>
        <ul class="feature-list">
            <li class="feature-list__item">
                <h2><img src="/images/monitoring.png" alt="Monitoring icon"> Monitoring Plugins and Scripts</h2>
                <p>We provide cluster and node health monitoring plugins and scripts for popular platforms such as Nagios.</p>
            </li>
            <li class="feature-list__item">
                <h2><img src="/images/correlation.png" alt="Correlation icon"> Command and Event Correlation Visualizer</h2>
                <p>This plugin for to the Event Store web admin UI provides a visual overview of commands and the events related to them.</p>
            </li>
            <li class="feature-list__item">
                <h2><img src="/images/ldap.png" alt="LDAP icon"> LDAP Authentication Plugin</h2>
                <p>Use Microsoft Active Directory as an Authentication Provider for Event Store, helping it integrate better into your existing infrastructure.</p>
            </li>
        </ul>
        <ul class="feature-list">
            <li class="feature-list__item">
                <h2><img src="/images/manager.png" alt="Windows Manager icon"> Windows Manager</h2>
                <p>Allows you to run Event Store as a Windows service, and acts as a supervisor for an Event Store node running under Windows.</p>
            </li>
            <li class="feature-list__item">
                <h2><img src="" alt="Projections icon"> EMPTY</h2>
                <p>EMPTY</p>
            </li>
            <li class="feature-list__item">
                <h2><img src="" alt="Performance icon"> EMPTY</h2>
                <p>EMPTY</p>
            </li>
        </ul>
    </div>
</div>
<div class="users-section">
    <div class="inner-container">
        <div class="users">
            <img src="/images/users.svg" alt="Logos for Deloitte, PwC, NHS, JustGiving, CERN, Jet, Xero, Energi Danmark, OBB, Scientia, The World Bank and Bath ASU">
        </div>
    </div>
</div>
{% include footer.html %}