{% assign author = site.data.authors[page.author] %}
{% if author.name %}
  <div id="author-bio">
    {% if author.image %}
    <img src="{{ author.image }}" alt="Photo of {{ author.name }}" title="{{ author.name}} bio photo"/>
    {% endif %}
    <h3>Written by: {% if author.link %}<a href="{{ author.link }}" title="Read more about {{ author.name }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}</h3>
    {% if author.bio %}
    <p>{{ author.bio }}</p>
    {% endif %}
  </div>
{% endif %}
