<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "description": "{% if page.description %}{{ page.description %}}"{% else %}{{page.excerpt | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip |  truncatewords: 30}}{% endif %}",
  "author": {
  {% assign author = site.data.authors[page.author] %}{% if author.name %}"@type": "Person",
    "name": "{{author.name}}"},{% else %}"@type": "Organization",
    "name": "Event Store Ltd"},{% endif %}    
  "publisher": {
    "@type": "Organization",
    "name": "Event Store Ltd",
    "logo": {
      "@type": "ImageObject",
      "url": "https://eventstore.org/images/logo--white.svg",
      "width": 131,
      "height": 32
    }
  },
  "datePublished": "{{page.date}}"
}
</script>