<div id="signup-form-container">
	<div id="signup-form-text">
		<h3>Subscribe to the Event Store blog</h3>
		<p>Get the latest news and tutorials when they are released</p>
	</div>
	<div id="signup-form">
		<!-- Begin Mailchimp Signup Form -->
		<form action="https://eventstore.us14.list-manage.com/subscribe/post?u=b100da2c392e7564fae519978&amp;id=f56d62757e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div id="mc_embed_signup_scroll">
				<div class="mc-field-group">
					<input type="text" value="" name="FNAME" class="required" id="mce-FNAME" placeholder="First name...">
				</div>
				<div class="mc-field-group">
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email address...">
				</div>
				<input type="hidden" name="SOURCE" value="Event Store blog signup form">
					    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b100da2c392e7564fae519978_f56d62757e" tabindex="-1" value=""></div>
					<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			</div>
		</form>
		<!--End Mailchimp Signup Form -->
	</div>
</div>
