    <div class="inner-container">
        <div class="site-footer">
            <p class="footer__copyright">&copy;{{ site.time | date: "%Y" }} Event Store Limited</p>
            <ul class="footer__menu">
                <li class="footer__menu__item"><a href="/">Home</a></li>
                <li class="footer__menu__item"><a href="/about">About Us</a></li>
                <li class="footer__menu__item"><a href="https://eventstore.freshdesk.com">Support Sign In</a></li>
                <li class="footer__menu__item"><a href="/terms">Terms</a></li>
                <li class="footer__menu__item"><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <script src="/js/scripts.js"></script>
    <script>
        window.fcWidget.init({
            token: "e05aa5b4-6517-46a0-8109-46e65eaf3fa2",
            host: "https://wchat.freshchat.com"
        });
    </script>
{% include analytics.html %}
</body>
</html>
