    <div class="inner-container">
        <div class="site-footer">
            <p class="footer__copyright">&copy;{{ site.time | date: "%Y" }} Event Store LLP</p>
            <ul class="footer__menu">
                <li class="footer__menu__item"><a href="/">Home</a></li>
                <li class="footer__menu__item"><a href="/about">About Us</a></li>
                <li class="footer__menu__item"><a href="https://eventstore.freshdesk.com">Support Sign In</a></li>
                <li class="footer__menu__item"><a href="/terms">Terms</a></li>
                <li class="footer__menu__item"><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/scripts.min.js"></script>
{% include analytics.html %}
</body>
</html>
