<!doctype html>
<html lang="en-gb">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="{% if page.description == null %}{{ site.description }}{% else %}{{ page.description }}{% endif %}" name="description">
    <link href="//fonts.googleapis.com" rel="preconnect">
    <link href="//www.google-analytics.com" rel="preconnect">
    <title>{% if page.title != "Homepage" %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    <meta content="#4CAF50" name="theme-color">
    <link href="/manifest.json" rel="manifest">
    <link href="/css/main13.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic|Source+Code+Pro:400,700" rel="stylesheet">
    <link href="https://eventstore.org/blog/feed/index.xml" rel="alternate" title="Event Store" type="application/rss+xml">
</head>

<body>
    <header class="site-banner">
        <div class="inner-container">
            <h1 class="site-logo">
                <a href="/">
                    <img src="/images/logo--white.svg" alt="Event Store logo">
                </a>
            </h1>
            <ul class="site-navigation" id="navigation">
                <li class="site-navigation__item"><a href="/community">Community</a></li>
                <li class="site-navigation__item"><a href="/support">Support</a></li>
                <li class="site-navigation__item"><a href="/blog">Blog</a></li>
                <li class="site-navigation__item"><a href="/docs">Documentation</a></li>
                <li class="site-navigation__item"><a href="/downloads">Downloads</a></li>
            </ul>
            <a href="#" onclick="toggleNavigation()" class="site-navigation-toggle">Menu</a>
        </div>
    </header>