<!doctype html>
<html lang="en-gb">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="{% if page.description == null %}{{ site.description }}{% else %}{{ page.description }}{% endif %}"
        name="description">
    <link href="//fonts.googleapis.com" rel="preconnect">
    <link href="//www.google-analytics.com" rel="preconnect">
    {% if page.layout == "blog-post" %}{% assign category = page.category %}{% capture firstcategory %}{% for category in page.category %}{% if forloop.first == true %}{{category}}{% endif %}{% endfor %}{% endcapture %}{% capture seo-title %}{% if page.seo-title %}{{page.seo-title}}{% else %}{{page.title}}{% endif %} - {{firstcategory}} | Event Store Blog{% endcapture %}<title>{{seo-title}}</title>
	{% else %}<title>{{ page.title }}{% unless page.title contains "| Event Store" or contains "- Event Store" %} | {{ site.name }}{% endunless %}</title>{% endif %}
    <meta content="#4CAF50" name="theme-color">
    <link href="/manifest.json" rel="manifest">
    <link href="/css/main13.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic|Source+Code+Pro:400,700" rel="stylesheet">
    <link href="https://eventstore.org/blog/feed/index.xml" rel="alternate" title="Event Store" type="application/rss+xml">
	<link rel="canonical" href="{{site.url}}{{page.url|remove: "index.html"}}" />
    {% include tagmanager1.html %}
    {% if page.layout == "blog-post" %}
	{% include sharethis.html %}
	{% include blog-schema.html %}
	{% endif %}
	{% if page.title == "Support" %}
	<script src="/js/fontAwesomeAll.min.js"></script>
	{% endif %}
</head>

<body>
    {% include tagmanager2.html %}
    <header class="site-banner">
        <div class="inner-container">
            <h1 class="site-logo">
                <a href="/">
                    <img src="/images/logo--white.svg" alt="Event Store logo">
                </a>
            </h1>sss
            {{site.url}}
            <ul class="site-navigation" id="navigation">
                <li class="site-navigation__item"><a href="/support">Support</a></li>
                <li class="site-navigation__item"><a href="https://training.eventstore.com">Training</a></li>
                <li class="site-navigation__item"><a href="{{ site.url }}/docs">Docs</a></li>
                <li class="site-navigation__item"><a href="{{ site.url }}/downloads">Downloads</a></li>
                <li class="site-navigation__item"><a href="/community">Community</a></li>
                <li class="site-navigation__item"><a href="/blog">Blog</a></li>
                <li class="site-navigation__item"><a href="{{ site.url }}/contact">Contact</a></li>

            </ul>
            <a href="#" onclick="toggleNavigation()" class="site-navigation-toggle">Menu</a>
        </div>
    </header>
