.checkmark-list {
    padding: 0;
    list-style: none;
    li {
        padding: 0.75rem 0 0.75rem 3rem;
        background-image: url('../images/checkmark.svg'),
            linear-gradient(0deg, $color-grey-200 0%, $color-grey-200 50%, transparent 50%, transparent 100%);
        background-position: 0.75rem center, left bottom;
        background-repeat: no-repeat, repeat-x;
        background-size: 1.5rem 1.5rem, 2px 2px;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-size: 1.5rem 1.5rem, 1px 1px;
        }
    }
}