.page-title {
    margin: -1.5rem 0 0;
    background: $color-blue-grey-800;
    color: $color-white;
    padding: 1.5rem 0;
    h1 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: $font-base-weight;
        line-height: 1.5rem;
    }
}