---
title: "About Us"
description: "These are the people behind Event Store."
---

{% include header.html %}
    <div class="page-title">
        <div class="inner-container">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="page-section">
        <div class="inner-container">
            <ul class="team-list">
                <li>
                    <img src="/images/greg-young.jpg" alt="Photo of Greg Young" width="512" height="512">
                    <h2>Greg Young</h2>
                    <p>Partner &amp; Developer</p>
                </li>
                <li>
                    <img src="/images/chris-watt.jpg" alt="Photo of Chris Watt" width="512" height="512">
                    <h2>Chris Watt</h2>
                    <p>Partner</p>
                </li>
                <li>
                    <img src="/images/pieter-germishuys.jpg" alt="Photo of Pieter Germishuys" width="512" height="512">
                    <h2>Pieter Germishuys</h2>
                    <p>Developer &amp; Support</p>
                </li>
                <li>
                    <img src="/images/hayley-campbell.jpg" alt="Photo of Hayley Campbell" width="512" height="512">
                    <h2>Hayley Campbell</h2>
                    <p>Developer &amp; Support</p>
                </li>
                <li>
                    <img src="/images/shaan-nobee.jpg" alt="Photo of Shaan Nobee" width="512" height="512">
                    <h2>Shaan Nobee</h2>
                    <p>Developer &amp; Support</p>
                </li>
                <li>
                    <img src="/images/avish-cheetaram.jpg" alt="Photo of Avish Cheetaram" width="512" height="512">
                    <h2>Avish Cheetaram</h2>
                    <p>Developer</p>
                </li>
                <li>
                    <img src="/images/lokhesh-ujoodha.jpg" alt="Photo of Lokhesh Ujoodha" width="512" height="512">
                    <h2>Lokhesh Ujoodha</h2>
                    <p>Developer</p>
                </li>
                <li>
                    <img src="/images/james-nugent.jpg" alt="Photo of James Nugent" width="512" height="512">
                    <h2>James Nugent</h2>
                    <p>Developer</p>
                </li>
                <li>
                    <img src="/images/chris-ward.jpg" alt="Photo of Chris Ward" width="300" height="300">
                    <h2>Chris Ward</h2>
                    <p>Technical Writer</p>
                </li>
                <li>
                    <img src="/images/daniel-warren.jpg" alt="Photo of Daniel Warren" width="512" height="512">
                    <h2>Daniel Warren</h2>
                    <p>Business Development</p>
                </li>
                <li>
                    <img src="/images/jon-bradford.jpg" alt="Photo of Jon Bradford" width="512" height="512">
                    <h2>Jon Bradford</h2>
                    <p>Support</p>
                </li>
                <li>
                    <img src="/images/rich-knight.jpg" alt="Photo of Rich Knight" width="512" height="512">
                    <h2>Rich Knight</h2>
                    <p>Support</p>
                </li>
                <li>
                    <img src="/images/dan-leech.jpg" alt="Photo of Dan Leech" width="512" height="512">
                    <h2>Dan Leech</h2>
                    <p>Designer</p>
                </li>
                <li>
                    <img src="/images/yaroslav-klymko.jpg" alt="Photo of Yaroslav Klymko" width="512" height="512">
                    <h2>Yaroslav Klymko</h2>
                    <p>Developer</p>
                </li>
            </ul>
        </div>
    </div>
{% include footer.html %}