{% include header.html %}
    <div class="page-title">
        <div class="inner-container">
            <h1>Developer Blog</h1>
        </div>
    </div>
    <div class="page-section page-section--post-list">
        <div class="inner-container">
            <article class="blog-post">
                <header>
                    <h1>{{ page.title }}</h1>
                    <div id="header-meta">
			    <time datetime="{{ page.date | date_to_xml_schema }}">{{ page.date | date_to_long_string }}</time>
			    {% assign author = site.authors[page.author] %}
			      {% if author.name %}<span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{% if author.link %}<a href="{{ author.link }}" title="Click to find out more about {{ author.name }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}</span>{% endif %}
			    <div class="sharethis-inline-share-buttons"></div>
			</div>
			<hr>
                </header>
                {{ content }}
            	<hr id="post-footer-divider">
		    <div class="sharethis-inline-share-buttons"></div>
		{% include author.html %}
		</article>
            <ul class="post-list">
            {% for post in site.posts %}
                <li class="post-list__item">
                    <a href="{{ post.url }}">
                        <h2>{{ post.title }}</h2>
                        <time datetime="{{ post.date | date_to_xml_schema }}">{{ post.date | date_to_long_string }}</time>
                    </a>
                </li>
            {% endfor %}
            </ul>
		</div>
	</div>
{% include footer.html %}
