---
title: "Terms &amp; Conditions"
---

{% include header.html %}
    <div class="page-title">
        <div class="inner-container">
                <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="inner-container">
        <div class="page-section">
            <div class="page-section__major">
                <ul>
                    <li>
                        <a href="./support">Event Store Support Terms and Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% include footer.html %}